.swiper {
  width: 65%;
  max-width: 850px;
}

.swiper-slide {
  font-size: 18px;
  background-color: var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.input-container-vert {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  gap: 5px;
}

.input-container-vert input,
.input-container-vert select {
  height: 50px;
  font-size: 1.2rem;
}

.input-container-vert textarea,
.input-container-vert input,
.input-container-vert select {
  padding: 5px;
  border: 2px solid var(--primary-accent);
  border-radius: 4px;
  color: black;
  background-color: white;
}

.meal-selections-container select {
  background-color: white;
  color: black;
}

.input-container-vert textarea {
  font-size: 1.1rem;
  resize: none;
}

.selection-btns-container {
  display: flex;
  justify-content: space-around;
}

.meal-selections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
}

.meal-selections-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.meal-selections-container .selection-btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}

.meal-selections-container .selection-btns-container select {
  text-align: center;
  width: 50px;
  height: 35px;
  border: 2px solid var(--primary-accent);
  border-radius: 4px;
  font-size: 1rem;
}

.swiper-btn {
  height: 45px;
  padding: 0 8px;
  font-size: 1.1rem;
  border: 1px solid black;
  background-color: var(--primary-light);
  border-radius: 4px;
  margin: 0 auto;
  color: black;
}

.nxt-btn {
  float: inline-end;
  margin-right: 150px;
}

.prev-btn {
  float: inline-start;
  margin-left: 150px;
}

.swiper-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-accent);
}

.swiper-btn:active {
  background-color: var(--primary-accent);
}

.selection-btn {
  height: 70px;
  width: 40%;
  min-width: 150px;
  font-size: 1.5rem;
  background-color: white;
  border: 2px solid var(--secondary-accent);
  border-radius: 4px;
  color: black;
}

.active-btn {
  border: 2px solid black;
  background-color: var(--primary-accent);
}

.selection-btn:hover {
  cursor: pointer;
  background-color: var(--primary-accent);
}

@media (max-width: 600px) {
  .input-container {
    width: 100%;
  }

  .swiper {
    width: 100%;
  }

  .input-container-vert {
    width: 85%;
  }

  .selection-btn {
    width: 35%;
    min-width: 0px;
  }
}

@media (max-width: 800px) {
  .prev-btn {
    margin-left: 100px;
  }

  .nxt-btn {
    margin-right: 100px;
  }
}

@media (max-width: 400px) {
  .prev-btn {
    margin-left: 50px;
  }

  .nxt-btn {
    margin-right: 50px;
  }
}
